
body{
	margin: 0;
}

@keyframes move {
  0% {
   top: 100%;
    }
  100% {
    top: 0;
    }
}
.France{
	background-image: url(Draw/France.png);
	position: relative;
	width: 601px;
	height: 281px;
	overflow:hidden;
}
.France div{
	width: 601px;
	height: 281px;
	color: rgba(0,0,0,0);
}

.France div:hover {
	padding-top: 230px;
	padding-left: 1%;
	position: absolute;
	animation: move 1s;
	background-color: rgba(0,0,0,0.5);
	color: white;
	overflow:hidden;
}

