body{
	margin: 0;
	font-family: sans-serif;
	min-width: 750px;
}

.head{
	background-image:url(Draw/mountain.jpg);
	background-size: cover; 
	color: white;
	max-height: 400px;
}

.Title{
	font-size: 30px;
	
}

.Title1{
	margin: 10px;
}

.Title2{
	font-size: 70px;
	text-align:center;
	margin: 9px; 
	margin-bottom: 60px;
}

.butbut{
	display: flex;
}

.but{
	display: inline-block;
	background-color:red;
	text-align:center;
	padding-top: 5px;
	
	padding-bottom: 5px;
	margin-left: 100px;
	margin-right: -90px;
	border-radius: 5px 5px 0 0;
	
	vertical-align: bottom;
	width: 100px;
}

.but:hover{
	background-color:white;
	color: black;
}

.form1_1{
	display: flex;
	align-items: flex-end;
	flex-wrap: wrap;
    justify-content:space-around;
	align-content: space-around;
	background-color: #ededed;
}
.form1{
	height: 50px;
	width:  300px;
	outline: none;
	background-color: white;
	font-size:20px;
	margin: 15px;
	border: 0;
    padding: 0;
}
.search{
	background-color: #ff4747;
	color: white;
}
.why_us{
	width: 85%;
	margin: auto;
}
.why_us_1{
	display: flex;
	color: grey;
	width: 45%;
	font-size: 18px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.reasons{
	display: flex;
	justify-content: space-around;
	align-content: space-around;
}
.shop{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 10px;
		flex-wrap: wrap;
}
.shop1{
	color: grey;
	font-size: 18px;
	margin-top: 10px;
	text-align: center;

}