body{
	margin: 0;
	font-family: sans-serif;
	min-width: 750px;
	max-width: 1366px;
}

.head{
	background-image:url(Draw/mountain.jpg);
	background-size: cover; 
	color: white;
	height: 400px;
}

.Title{
	font-size: 30px;
	
}

.Title1{
	margin: 10px;
}

.Title2{
	font-size: 60px;
	text-align:center;
	margin: 9px; 
	margin-bottom: 60px;
}

.butbut{
	display: flex;
}

.but{
	display: inline-block;
	background-color:red;
	text-align:center;
	padding-top: 5px;
	margin-bottom: 0px;
	padding-bottom: 5px;
	margin-left: 100px;
	margin-right: -90px;
	border-radius: 5px 5px 0 0;
	width: 100px;
	margin-top: 33px;
}

.but:hover{
	background-color:white;
	color: black;
}

.form1_1{
	display: flex;
	align-items: flex-end;
	flex-wrap: wrap;
    justify-content:space-around;
	align-content: space-around;
	background-color: #ededed;
}
.form1 p:after{
	content: "rhghei";
}
.form1{
	height: 50px;
	width:  300px;
	outline: none;
	background-color: white;
	font-size:20px;
	margin: 15px;
	border: 0;
    padding: 0;
	padding-left: 5px;
}
.search{
	background-color: #ff4747;
	color: white;
	outline: none;
}
.why_us{
	width: 85%;
	margin: auto;
	margin-bottom: 15px;
	clear: left;
}
.why_us_1{
	display: flex;
	color: grey;
	width: 45%;
	font-size: 18px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.reasons{
	display: flex;
	justify-content: space-around;
	align-content: space-around;
}
.shop{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 10px;
	flex-wrap: wrap;
}
.shop1{
	color: grey;
	font-size: 18px;
	margin-top: 10px;
	text-align: center;
}

@keyframes move {
  0% {
   top: 100%;
    }
  100% {
    top: 0;
    }
}


@keyframes emergence {
  0% {
   opacity: 0;
    }
  100% {
    opacity: 1;
    }
}


.Cities{
	align-content: bottom;
	margin-bottom: 10px;
}

.Cities:after{
	content: "";
	clear: both;
	display: block;
}

.France{
	background-image: url(Draw/France.png);
	position: relative;
	width: 581px;
	height: 280px;
	overflow:hidden;
	float: left;
	margin: 10px;
}
.France div{
	width: 601px;
	height: 280px;
	color: rgba(0,0,0,0);
}

.France div:hover {
	padding-top: 230px;
	padding-left: 1%;
	position: absolute;
	animation: move 1s;
	background-color: rgba(0,0,0,0.5);
	color: white;
	overflow:hidden;
	
}

.ElseCity{
	position: relative;
	width: 280px;
	height: 280px;
	overflow:hidden;
	float: left;
	margin: 10px;
}

.ElseCity div{
	width: 280px;
	height: 280px;
	color: rgba(0,0,0,0);
}

.ElseCity div:hover {
	padding-top: 230px;
	padding-left: 1%;
	position: absolute;
	animation: move 1s;
	background-color: rgba(0,0,0,0.5);
	color: white;
	overflow:hidden;
}

.Greece{
	background-image: url(Draw/Greece.png);
}
.Dubai{
	background-image: url(Draw/Dubai.png);
}
.Tokyo{
	background-image: url(Draw/Tokyo.png);
}
.NY{
	background-image: url(Draw/NY.png);
	
}

.bookNow{
	background-image:url(Draw/mountain.jpg);
	background-size: cover; 
	background-attachment: fixed;
	padding: 10%;
}
.bookNowText{
	text-align: center;
	color: white;
	margin: 50px;
}

.bookNow2{
	display: flex;
	justify-content: space-around;
}
.transp{
	background-color: rgba(0, 0, 0, 0);
	outline: none;
	border: 2px solid white;
	color:white;
	font-size: 20px;
	padding: 10px;
	font-weight: 100;
}

.subscribe{
	background-image:url(Draw/lego-grey-3h2.jpg);
	background-repeat: repeat-x;
	height: 130px;
	color:white;
}
.subscribe{
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.subscr{
	width: 512px;
}
.subscr2{
	width: 512px;
	padding: 5px;
	padding-right: 0;
	background-color: grey;
	border: 1px double white;
}
.formEmail{
	height: 40px;
	width: 75%;
	background-color: grey;
	outline: none;
	 border: none;
	color:white;
}
.formEmail::placeholder{
	color: white;
	font-style: italic;
	font-weight: thin;
}

.search2{
	background-color: #ff4747;
	color: white;
	outline: none;
	border: none;
	margin: -5px;
	height: 52px;
	width: 25%;
}
.bottom{
	color: white;
	background-image: url(Draw/Footerbg.jpg);
	background-size: cover;
	margin: -50;
	}

.sotial{
	width: 32px;
	height: 32px;
	margin: 10px;
}
.soc{
	display: flex;
	align-items: flex-start;
}
.FB{
	background-image:url(Draw/FB.png);
}
.TW{
	background-image:url(Draw/TW.png);
}
.IN{
	background-image:url(Draw/IN.png);
}
.YT{
	background-image:url(Draw/YT.png);
}
.FB:hover{
	background-image:url(Draw/FBFloat.png);
}
.TW:hover{
	background-image:url(Draw/TWFloat.png);
}
.IN:hover{
	background-image:url(Draw/INFloat.png);
}
.YT:hover{
	background-image:url(Draw/YTFloat.png);
}
h1,h2,h6{
	margin: 0;
}
h6{
	margin-left: 15px;
}
.tere{
	margin-top: -10px;
}
.nickname{
	margin-top: 30px;
	display: flex;
	align-items: flex-start;
	text-align: left;
}
.botColumn1, .botColumn2{
	width: 27%;
	margin: 30px;
}

.line{
	display: flex;
	justify-content: space-between;
	margin-left : 30px;
	margin-right : 30px;
	}
	
.line1{
	border-top: 1px solid white;
	display: flex;
	justify-content: space-between;
	margin-left : 30px;
	margin-right : 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	}
.comments{
	display: flex;
	justify-content: center;
	margin: 30px;
	
}
.Comment{
	background-color: #ededed;
	width: 45%;
	margin: 10px;
}
.coma{
 margin-bottom: -70px;
	text-align: right;
	font-size: 100px;
	color:grey;
}
.round {
    border-radius: 100px; 
    border: 0px solid white;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: -20px;
   }
.comment1{
	display:flex;
	font-size: 20px;
}

.commentText{
	margin: 20px;
	color: grey;
	text-align: left;
}
